<!DOCTYPE html> 
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Ma TODOLIST</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="styles/styles.css">
	<script src="bower_components/angular/angular.js"></script>
	<script text="text/javascript" src="scripts/main.js"></script>
</head>
<body ng-app="TodoMVC">

	

	<div class="col-md-6 col-md-offset-3">
		<h1>Ma todolist</h1>
		<div class="todo-container" ng-controller="TodoController as todo">
			<h2> {{todo.remaining()}} restant sur un total de {{todo.todolist.length}} </h2>
			<form ng-submit="todo.add()" novalidate class="form-inline">
				<input type="text" ng-model="todo.newTaskName" placeholder="Nouvelle tâche ..." class="form-control">
				<input type="submit" value="OK" class="btn btn-primary">
				<input type="button" value="Archiver" class="btn btn-danger" ng-click='todo.archiver()'>
			</form>
			
			<ul class="list-group">
				<li ng-repeat="todo in todo.todolist" class="list-group-item">
					<label ng-class="{'todo-done':todo.done}">
						<input type="checkbox"  ng-model="todo.done" > 
						 {{todo.taskName}}
					</label>
				</li>
			</ul>
		</div>

	</div>
</body>
</html>